@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: Poppins;
    gap: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    color: rgb(44, 44, 44);
}
h1 {
    text-align: center;
    padding: 30px;
    color: rgb(153, 153, 153);
}
.users {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10vw;
}
.user {
    width: 20vw;
    padding: 50px;
    background-color: rgb(153, 153, 153);
}
.user p {
    font-size: 20px;
}
#button {
    width: 20vw;
    font-size: 40px;
    padding: 20px;
    background-color: rgb(153, 153, 153);
}
#button:hover {
    opacity: 90%;
}